/*---------------------------------------------*/
/*Color codings*/
/*---------------------------------------------*/
:root {
  --c_white:#fff;
  --c_black:#000;
  --c_blue_dark:#002a68;
  --c_blue_main:#003380;
  --c_blue_light:#87aade;

}

body{
  background-color: var(--c_blue_dark);
  padding-top: 0em;
  font-family: sans-serif;

}
.hd{
  margin-top: 0em;
  font-size: 8vw;
  color: var(--c_white);
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 0vw;
}
.lb{
  font-size: 5vw;
  text-align: center;
  color:var(--c_blue_light);
  font-family: 'Teko', sans-serif;

}
hr{
  height: .1em;
  width: 30vw;
  margin-bottom: .2em;
  background-color: white;
  margin-top: 0;
  padding-top: 0vw;
}
.weekd{
  background-color:#002967;
  border-radius: 1em;
  width: 10em;
  height: 7em;
  font-size: 4vw;
  margin-top: .5em;
  padding-bottom: .3em;
  padding-top: .2em;
  box-shadow:0px 0px 3px 3px black;
  margin-bottom: 15px;
   padding-left: .8em;
   padding-right: .8em;
}
.r1{
  margin-top: .2em;
  font-size:.8em;
  color: white;
  margin-bottom: .2em;
}
.date{
  font-size: 1em;
  text-align:right;
}
.day{
  font-size: 1em;
  text-align: left;
}
.r2{
  font-size: 1em;
  margin-top: .1em;
  margin-bottom: .1em;
}
.topicname{
  font-size: 1.3em;
  color: white;
  text-align: left;
}
.fm{
  background-color:#002967;
  display: inline-block;
  margin-top: .3em;
}
.fmi{
  background-color: white;
  height: 3em;
  width: 3em;
  border-radius: 50%;
  font-size: 2vw;
  text-align: center;
  padding-top: .7em;
  float:right;
}
.r3{
  margin-left: .1em;
  margin-right: .1em;
  border-radius: 2vw;
  background-color: white;
  margin-bottom: 1em;;
  font-size: 3.5vw;
  margin-top: 2.8vw;
  padding-top: .5vw;
  padding-right: 1.2vw;
  padding-bottom: .3em;
}
.marks {
  text-align: right;
}
