.main{
  background-color: white;
  color: #002967;
  margin-bottom: 0px;
  margin-top: 0vw;
}
.topic{
  text-align: left;
  font-size: 9vw;
  padding-left: .5em;
}
.dayndate{
  text-align: left;
  font-size: 5.5vw;
  padding-left: .8em;
}
.fmarks{
  text-align: right;
  font-size: 5.5vw;
}
.data{
  background-color:#003480;
  color: white;
  font-size: 5vw;
}

.name1{
  text-align: left;
}
.mark1{
  text-align: right;
}
.l1{
margin-right: 0;
margin-left: 0;
width: 90vw;
height:1px;
}
.data1,.data2,.data3,.data4,.data5,.data6{
  padding-left: 0;
  padding-right: 0;
  padding-top: 1.5vw;
}
